<%- include('../partials/header')  %>
<div class="container">
    <div class="jumbotron m-4">
    <h1 class="display-4"> <%= user.firstName %>'s  Twitter Clone App</h1>
    <p class="lead">This is a Twitter Clone App.</p>
    <hr class="my-4">
    <p>Post messages!</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/profile" role="button">Go to your profile!</a>
    </p>
  </div>
</div>

<%- include('../partials/footer')  %> 